$foreground: #c9d6c6;
$background: #001217;

$accent: #115768;

@mixin dots($size: 4px, $color: $accent) {
  $position: $size / 2;
  background-image:
    radial-gradient($color 15%, transparent 16%),
    radial-gradient($color 15%, transparent 16%);
  background-size: $size $size;
  background-position: 0 0, $position $position;
}

@mixin hatch($color-1: $accent, $color-2: $background, $size: 3rem) {
  background-image: repeating-linear-gradient(
    45deg,
    $color-1,
    $color-1 $size/2,
    $color-2 $size/2,
    $color-2 $size
  );
}
