$size: 100px;
$translate: translateZ(50px);
$anaglyphOffset: 50px;

.cubes {

}

.anaglyphContainer {
  position: relative;
  -webkit-mix-blend-mode: multiply;
}

.anaglyphLeft {
  composes: anaglyphContainer;
  margin-left: -($anaglyphOffset);
}

.anaglyphRight {
  composes: anaglyphContainer;
  margin-left: $anaglyphOffset;
}

.cube {
  backface-visibility: visible;
  position: absolute;
  height: $size;
  width: $size;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
}

.anaglyphCube {
  composes: cube;
}

.face {
  position: absolute;
  height: $size;
  width: $size;
  border: 2px solid;
}

.frontFace {
  composes: face;
  transform: rotateY(0deg) $translate;
}

.backFace {
  composes: face;
  transform: rotateX(180deg) $translate;
}

.leftFace {
  composes: face;
  transform: rotateY(90deg) $translate;
}

.rightFace {
  composes: face;
  transform: rotateY(-90deg) $translate;
}

.topFace {
  composes: face;
  transform: rotateX(90deg) $translate;
}

.bottomFace {
  composes: face;
  transform: rotateX(-90deg) $translate;
}
